<% include ./layouts/header %>

<div class="row flex-column">
  <h1 class="text-center">Login</h1>
  <div class="align-self-center">
    <form action="/login" method="POST">
      <div class="form-group row mt-3">
        <input type="text" name="username" class="form-control" placeholder="Username...">
      </div>
      <div class="form-group row ">
        <input type="password" name="password" class="form-control" placeholder="Password...">
      </div>
      <div class="form-group row ">
        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </div>
    </form>
  </div>
</div>

<% include ./layouts/footer %>
