<% include ../layouts/header %>

  <header class="jumbotron mt-3">
    <h1 class="display-4 text-center"><i class="fas fa-campground"></i> Welcome to YelpCamp</h1>
    <p class="lead text-center">View our hand-picked campgrounds from all over the world</p>
    <hr class="my-4">
    <a href="/campgrounds/new" class="btn btn-primary" role="button">Add New Campground</a>
    <form action="/campgrounds" method="GET" class="mt-3" id="campground-search">
      <div class="form-row">
        <div class="col-8 col-md-4">
          <input type="text" name="search" placeholder="Search..." class="form-control">
        </div>
        <div class="col">
          <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </form>
  </header>

  <div class="row text-center flex-wrap" id="campground-grid">
    <% campgrounds.forEach(function(camp){ %>
      <div class="col-md-3 col-sm-6 my-3">
        <div class="card">
          <img src="<%= camp.image%>" class="card-img-top">
          <div class="card-body">
            <p class="card-text"><%= camp.name %></p>
            <a href="/campgrounds/<%= camp._id %>" class="btn btn-primary" role="button">More Info</a>
          </div>
        </div>
      </div>
    <% }); %>
  </div>

<% include ../layouts/footer %>
